#introduction{
  text-align: center;
}

.title{
    text-align: center;
}




h1{
font-size: 50px;
}

h3{
  font-size: 25px;
}

p{
  font-size: 20px;
}

.intro{
    color: darkblue
      
}

#info{
  width: 150px;
  height: 40px;
  padding: 10px 20px; 
}

#about{
    background-color: green;
}


.container {
  display: flex;                 /* Make it a flex container */
  flex-direction: row;        /* Stack items vertically */
  align-items: center;           /* Center items horizontally */
  justify-content: center;       /* Center items vertically (if container has height) */
  text-align: center;              /* Center text inside elements if needed */
  padding: 20px;                 /* Optional: add some padding */
  box-sizing: border-box;  
  gap: 150px;
  }

#videogame{
  height: 300px;
  width: 500px;
}

#toDo{
  height: 300px;
  width: 500px;
  border-style: solid;
}

#tierList{
  height: 300px;
  width: 500px;
}

#connections{
  height: 300px;
  width:500px;
  border-style: solid;
}
  .text-box {
    width: 300px; /* make it a square box, adjust as needed */
    height: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; /* optional padding inside the box */
    box-sizing: border-box;
    font-size: large;
    border-style: hidden;
  }

#resume{
   width: 150px;
  height: 40px;
  background-color: gray;
}

#sourceCode1{
   width: 150px;
  height: 40px;
  padding: 10px 20px; 
  background-color: gray;
}

#sourceCode2{
   width: 150px;
  height: 40px;
  padding: 10px 20px; 
  background-color: gray;
}

#sourceCode3{
   width: 150px;
  height: 40px;
  padding: 10px 20px; 
  background-color: gray;
}

#contact{
    background-color: green;
}

#contactInfo{
  text-align: center;
  justify-content: center;
}

footer{
  text-align: center;
}

@media (max-width: 600px){
  section{
    padding: 20px;
  }
}